<h2 class="text-info">Posts with hashtag: #{{hashtag}}</h2>
<br>
<div class="">
  <h5>Order by:
    <small>
      <div class="btn-group">
        <a class="btn btn-default" ng-class="{active: order=='date'}" ng-click="changeOrder('date')">Date</a>
        <a class="btn btn-default" ng-class="{active: order=='popularity'}" ng-click="changeOrder('popularity')">Popularity</a>
      </div>
    </small>
  </h5>

</div>
<br>
<ng-include src=" 'posts/_postPreview.html' "></ng-include>
<div class="row">
  <div class="col-md-4 col-md-offset-4" ng-show="posts.length < total_entries">
    <a href class="btn btn-default btn-lg btn-block" ng-click="loadHashtagPosts()">Load more</a>
  </div>
</div>
